*{
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #000000;
}

.contenedor{
    background: #000000;
    width: 100vw;
    height: 80vh;
    text-align: center;
}

p{
    font-size: 1.9rem;
    padding: 4%;
    color: aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

button{
    font-size: xx-large;
    padding: 0.70em;
    border-radius: 10px;
    background-color: #ffffff;
    border:none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

#yesBtn{
    transform: translate(-100%,0);
}

#noBtn{
    position: absolute;
}

/* Heart Section */
.container_heart{
    height: 50vh;
    width: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin: 0 auto 4% auto;
}

.heart{
    position: relative;
    width: 50%;
    height: 50%;
    background-color: #ff4757;
    transform:  rotate(-45deg);
    box-shadow: -10px 10px 60px #ff4757;
    animation: animate 1s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(-45deg) scale(1.04);
    }
    33%{
        transform: rotate(-45deg) scale(1.02);
    }
    66% {
        transform: rotate(-45deg) scale(1.0);
    }
    100% {
        transform: rotate(-45deg) scale(0.95);
    }
}

.heart:before{
    content: '';
    position: absolute;
    top: -50%;
    left: -0%;
    width: 100%;
    height: 100%;
    background-color: #ff4757;
    border-radius: 50%;
    box-shadow: -10px -10px 60px #ff4757;
}

.heart:after{
    content: '';
    position: absolute;
    top: 0%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: #ff4757;
    border-radius: 50%;
    box-shadow: 10px 10px 60px #ff4757;
}

/* Add styles to hide the modal by default */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 40%;
    border-radius: 10px;
    text-align: center;
}

.modal-content p{
    color: #000000;
    font-size: 3rem;
}

.modal-content .loveImage{
    width: 35%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
