*{
    margin: 0;
    box-sizing: border-box;
}

.contenedor{
    background: #000000;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

p{
    font-size: xx-large;
    padding: 4%;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

button{
    font-size: xx-large;
    padding: 0.75em;
    border-radius: 10px;
    background-color: #e822f7;
    border:none;
}

#yesBtn{
    transform: translate(-100%,0);
}

#noBtn{
    position: absolute;
}

/* Heart Section */
.container_heart{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    margin-bottom: 4%;
}

.heart{
    position: relative;
    width: 70px;
    height: 70px;
    background-color: #ff4757;
    transform:  rotate(-45deg);
    box-shadow: -10px 10px 90px #ff4757;
}

.heart:before{
    content: '';
    position: absolute;
    top: -50%;
    left: -1%;
    width: 70px;
    height: 70px;
    background-color: #ff4757;
    border-radius: 50%;
    box-shadow: -10px 10px 90px #ff4757;
}

.heart:after{
    content: '';
    position: absolute;
    top: 4%;
    left: 80%;
    width: 70px;
    height: 70px;
    background-color: #ff4757;
    border-radius: 50%;
    box-shadow: -10px 10px 90px #ff4757;
}